body {
    height: 100vh;
}

main {
    /* 64px => nav*/
    /* 18px => address*/
    height: calc(100% - 64px - 18px);
}

html {
    font-family: 'Comfortaa', cursive;
}

a, .btn {
    /*font-family: 'Alegreya', serif;*/
    /*font-family: 'Domine', serif;*/
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

p, span, .room-users {
    /*font-family: 'Domine', serif;*/
    font-family: 'Comfortaa', cursive;
}
.brand-logo, .chat-container h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.brand-logo{
    margin-left: 1rem;
}

.nav-extended {
    background: #061826;
}


.anonymous-chat-btn {
    background: #061826 !important;
}

.page-address {
    background: #061826;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-style: normal;
    font-size: .8rem;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 18px;
    text-align: center;
    padding: 0;
    box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 14%), 0 -3px 1px -2px rgb(0 0 0 / 12%), 0 -1px 5px 0 rgb(0 0 0 / 20%);
}

.chat-page {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    'header header blank'
    'one one two'
    'three three four';
}


.chat-header {
    grid-area: header;
    text-align: center;
    margin: 0;
    height: auto;
    align-self: center;
    margin: 0 3rem;
}

.chat-container {
    grid-area: one;
    height: 65vh;
    margin: 0 3rem;
}

.users-container {
    grid-area: two;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 3rem;
}

.chat-content {
    height: 100%;
    word-wrap: break-word;
    overflow: auto;
}

.room-users {
    border: 1px solid black;
    border-radius: 5px;
    height: 65vh;
    overflow: auto;
}

.chat-form {
    grid-area: three;
    margin-right: 50px;
    margin: 0 3rem;
}

.invite-users {
    grid-area: four;
    margin: 0 3rem;
}

.invite-users .input-field {
    margin: 0;
}

/*.invite-users .input-field input {
    margin: 0;
}*/


.message-content {
    font-weight: 700;
}

.message:nth-child(even) {
    background: #A8C69F;
}

.message:nth-child(odd) {
    background: #CCE2A3;
}

.room-users h6 {
    font-weight: bold;
}



.anonymous-chat-container {
    width: 70vw;
    margin: auto;
}

.user-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.offline-user {
    opacity: 0.5;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    display: flex;
    flex-direction: row;
}


.logout-form {
    display: inline-block;
}

.invited-users {
    margin-top: 1rem;
}

.invited-users h6 {
    font-weight: bold;
}

.invited-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete:hover{
    cursor: pointer;
    opacity: 0.5;
}

.time-span {
    float: right;
}

.created-room-name{
    font-weight: bold;
}

.login-error-message {
    margin-top: 1rem;
    color: red;
}

.spinner {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.display-none {
    display: none;
}