body {
    min-height: 100vh;
    position: relative;
}

main {
    /* 64px => nav*/
    /* 18px => address*/
    height: calc(100% - 64px - 18px);
}

html {
    font-family: 'Comfortaa', cursive;
}

a, .btn {
    /*font-family: 'Alegreya', serif;*/
    /*font-family: 'Domine', serif;*/
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

p, span, .room-users {
    /*font-family: 'Domine', serif;*/
    font-family: 'Comfortaa', cursive;
}
.logo, .chat-container h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.logo{
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}

.username {
    color: white;
    display: flex;
    align-items: center;
}

.auth-btn {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    background: #061826;
    position: relative;
}

.auth-btn::after {
    position: absolute;
    left: 0;
    top: 26px;
    content: "";
    background: white;
    height: 2px;
    width: 0;
    transition: width .25s;
}

.auth-btn:hover::after {
    width: 100%;
}

.logout {
    margin-right: 1rem;
}


.span-logout {
    margin-right: .5rem;
}

.nav {
    background: #061826;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.hamburger {
    display: none;
}


.nav .nav-list {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.anonymous-chat-btn {
    background: #26c6da;
}

.anonymous-chat-btn:hover {
    background: #80deea;
}

#emoji-btn:hover {
    background: #c2185b !important;
}

.page-address {
    position: absolute;
    bottom: 0;
    background: #061826;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-style: normal;
    font-size: .9rem;
    font-weight: 400;
    width: 100%;
    height: 18px;
    text-align: center;
    padding: 0;
    box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 14%), 0 -3px 1px -2px rgb(0 0 0 / 12%), 0 -1px 5px 0 rgb(0 0 0 / 20%);
}

.chat-page {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    'header header blank'
    'one one two'
    'three three four';
}


.chat-header {
    grid-area: header;
    font-weight: 700;
    text-align: center;
    margin: 0;
    height: auto;
    align-self: center;
    /*margin: 0 3rem;*/
    margin: 1rem 3rem 0 3rem;
}

.chat-container {
    grid-area: one;
    height: 65vh;
    margin: 0 3rem;
    border: 10px solid #061826;
    border-radius: 5px;
}

.users-container {
    grid-area: two;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 3rem;
}

.chat-content {
    height: 100%;
    word-wrap: break-word;
    overflow: auto;
}


.chat-form {
    grid-area: three;
    margin: 1rem 3rem 0 3rem;
}

.invite-users {
    grid-area: four;
    margin: 1rem 3rem 0 3rem;
}

.room-users {
    border: 10px solid #061826;
    border-radius: 5px;
    height: 65vh;
    overflow: auto;
}

.invite-users .input-field {
    margin: 0;
}

/*.invite-users .input-field input {
    margin: 0;
}*/


.message {
    overflow: auto;
}

.message-content {
    font-weight: 700;
}

.message:nth-child(even) {
    background: #A8C69F;
}

.message:nth-child(odd) {
    background: #CCE2A3;
}

.room-users h6 {
    font-weight: bold;
}



.anonymous-chat-container {
    width: 70vw;
    margin: auto;
}

.user-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.offline-user {
    opacity: 0.5;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    display: flex;
    flex-direction: row;
}


.logout-form {
    display: inline-block;
}

.invited-users {
    margin-top: 1rem;
}

.invited-users h6 {
    font-weight: bold;
}

.invited-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete:hover{
    cursor: pointer;
    opacity: 0.5;
}

.time-span {
    float: right;
}

.created-room-name{
    font-weight: bold;
}

.auth-error-message {
    margin-top: 1rem;
    color: red;
    text-align: center;
}

.spinner {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.display-none {
    display: none;
}

::-webkit-scrollbar {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: content-box;
}


::-webkit-scrollbar-button:start {
    background: url('/arrow-up.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

::-webkit-scrollbar-button:end {
    background: url('/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.auth-btn-span-container{
    display: inline-block;
}

.desktop-hide {
    display: none;
}



@media (max-width: 730px) {
    .btn {
        height: 32.4px;
    }
    .rooms-mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .rooms-mobile-nav h4 {
        font-size: 14px;
        font-weight: 700;
        color: white;
        margin: 0;
    }

    .mobile-hide {
        display: none;
    }

    .desktop-hide {
        display: block;
    }

    .nav {
        flex-direction: column;
        height: auto;
    }

    .nav .nav-list {
        flex-direction: column;
        gap: unset;
        background: #061826;
        width: 100%;
        margin-bottom: 0;
    }

    .nav .nav-list li {
        text-align: center;
        width: 100%;
        border-top: 3px solid white;
        padding: 10px 0;
    }

    .username, .logout {
        justify-content: center;
    }

    .logo {
        margin-left: unset;
    }

    main {
        height: auto;
    }

    .hamburger {
        display: flex;
        top: 5px;
        right: 5px;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .bar {
        background: white;
        height: 5px;
        border-radius: 2px;
    }

    .collapse {
        display: none;
    }

    .nav-small {
        height: 3rem;
    }

    .chat-header {
        font-size: 1.5rem;
    }

    .chat-page {
        display: flex;
        flex-direction: column;
    }

    .chat-container {
        height: 55vh;
        margin: 1rem 1rem 0 1rem;
    }

    .users-container {
        height: 20vh;
        margin: 1rem 1rem 0 1rem;
    }

    .chat-form {
        margin: 0 1rem 1rem 1rem;
    }

    .invite-users {
        margin: 1rem;
    }
}
