.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    box-shadow:  0px -2px 0 rgb(0 0 0 / 14%)
}

.chat-content {
    height: 60vh;
    word-wrap: break-word;
    overflow: auto;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
