@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JustChat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">JustChat</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul id="nav-mobile" class="right">
                        <li><a class="disabled username">@UserManager.GetUserAsync(User).Result.UserName</a></li>
                        <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Find rooms</a></li>

                    </ul>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!" class="pink lighten-5">BACK</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Main room</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Bob's room</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Anton's room</a></li>
                        <li class="divider"></li>
                        <li><a href="#!" class="cyan lighten-5">CREATE ROOM</a></li>
                    </ul>
                }
                else
                {
                    <ul id="nav-mobile" class="right">
                        <li><a asp-page="/Authentication/Register">Register</a></li>
                        <li><a asp-page="/Authentication/Login">Login</a></li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer">
        <div>Created by Wiktor Zielak</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var options = {
                coverTrigger: false,
                hover: true
            };
            var instances = M.Dropdown.init(elems, options);
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
