@page
@model JustChat.Pages.Authentication.LoginModel
@{
}


<form method="post">
        <div class="row">
            <div class="col s3">
            </div>
            <div class="col s6">
                <label asp-for="UserVM.Username"></label>
                <input asp-for="UserVM.Username" />
                @*<span asp-validation-for="UserVM.Username"></span>*@
            </div>
            <div class="col s3">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
            </div>
            <div class="col s6">
                <label asp-for="UserVM.Password"></label>
                <input type="password" asp-for="UserVM.Password" />
                @*<span asp-validation-for="UserVM.Password"></span>*@
            </div>
            <div class="col s3">
            </div>
        </div>
        <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn">Login</button>
        </div>
</form>