@page
@model JustChat.Pages.Authentication.LogoutModel
@{
}

<div class="center-align">
    <h6>Are you sure to logout?</h6>
            <form class="logout-form" method="post">
                <button type="submit" class="waves-effect waves-light btn red darken-4"><i class="material-icons right">logout</i>LOGOUT</button>
            </form>
            <a class="waves-effect waves-light btn purple darken-4" asp-page="/Index">STAY LOGGED IN</a>
    </div>
</div>